.testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    min-height: 340px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  
  .testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }
  
  .testimonials .card h5 {
    color: #ed5217;
    font-size: 21px;
    line-height: 1.3;
  }
  
  .testimonials .card h5 span {
    font-size: 18px;
    color: #666666;
  }
  
  .testimonials .card p {
    font-size: 18px;
    color: #777;
    padding-bottom: 15px;
  }