

.shipping-form input{
    display: block;
    color: black;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}

.link{
    text-decoration: none;
}