.not_found {
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .not_found h1 {
    color: red;
    font-size: 32px;
    font-weight: 600;
  }
  
  .not_found h2 {
    color: #071C55;
  }
  
  .not_found a {
    font-size: 20px;
    font-weight: 600;
    color: #df5334;
    text-decoration: none;
  }